.moving-text {
    white-space: nowrap;
    display: inline-block;
    padding-left: 100%;
    animation: scroll 60s linear infinite;
}

@keyframes scroll {

    100% {
        transform: translateX(-100%);
    }
}

.green {
    background: #008c00;
    border-top-left-radius: 5px;

}

.flag {
    margin-left: 0.5rem;
}

.green .slideinfo {
    font-weight: bold;
    margin-top: 12px;
}


.division img {
    width: 260px;
}

.com {
    margin-left: -99px;
}

.comm {
    margin-left: 99px;
}

.navbar {
    background: black;
    height: 100px;
}

.form-control {
    background-color: lch(41.32% 0.84 19.12 / 0.282);
    border-color: rgb(112, 73, 79);
    border-radius: 10px;
    width: 300px;
    height: 60px;
}

.form-control::placeholder {
    color: rgb(148, 147, 147);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link.active {
    color: #ff6b07 !important;
    font-family: poppins, sans-serif;
}

.navbar-nav .nav-item {
    font-weight: bold;
    margin-left: 30px;
}

.navbar-nav .nav-item:hover {
    background: lch(72.89% 1.5 19.19 / 0.282);
    border-radius: 5px;
}

.info {
    font-family: poppins, sans-serif;
    box-sizing: border-box;
    margin-top: 5%;
}

.info .card {
    box-shadow: 0 8px 5px 8px rgba(94, 93, 93, 0.1);
    border-top: 3px solid rgba(255, 102, 0, .1);
    border-image: linear-gradient(to right, #ff6b07, rgb(209, 161, 4), rgb(63, 192, 95)) 1 0 0 0;
    border-radius: 10px;
    padding-bottom: 20px;

}

.card-title {
    font-weight: 800;
    margin-top: 30px;
    color: #2c3e50;
    font-size: 28px;
    position: relative;
    display: inline-block;
}

.card-title::after {
    content: "";
    width: 70px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    background-image: linear-gradient(to right, #ff6b07, rgb(209, 161, 4), rgb(63, 192, 95));
    align-items: center;
    align-content: center;
    left: 46%;
    right: 0;
    top: 120%;
    display: block;
}

.card-subtitle {
    padding: 10px 39px;
    width: 100%;
    line-break: normal;
    color: #555555;
}

.message {
    margin-top: 9%;
    box-sizing: border-box;
    padding: 43px 10%;
    background-image: linear-gradient(to right, rgba(240, 197, 197, 0.1), rgba(185, 186, 190, 0.2));
}



.message .card-pres .president {
    width: 235px;
    height: 44vh;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    object-fit: cover;
    border: 3px solid black;
    border-color: white;
    box-shadow: 1px 1px 15px rgb(167, 159, 159);
    cursor: pointer;
}


.card-pres .president:hover {
    transform: translateY(-2px);
    transition-duration: 0.05s;
}

.message .btn {
    position: relative;
    background-color: #ff6b07;
    color: white;
    padding: 3px 35px;
    text-align: center;
    border-radius: 20px;
}

.btn {
    left: 15px;
    bottom: 40px;
    font-weight: 700;
    font-size: 15px;
}

.btn:hover {
    background-color: #008c00;
}

.message .info-head {
    position: relative;
    display: flex;
    text-align: start;
}

.info-head {
    position: absolute;
    right: 240px;
    top: 30px;
}

.message .text-header {
    font-weight: 800;
    color: #2c3e50;
    position: relative;
}

.message .text-header::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 72px;
    background-image: linear-gradient(to left, #ff6b07, rgb(209, 161, 4), rgb(63, 192, 95));
    display: inline-block;
    top: 60px;
    right: 328px;
    border-radius: 5px;
}

.message .card-c {
    background-image: linear-gradient(to right, rgba(255, 208, 216, 0.5), rgba(255, 208, 216, 0.3));
    position: relative;
    display: flex;
    text-align: start;
    padding: 15px 30px;
    border-left: 4px solid #ff6b07;
}

.card-c {
    position: absolute;
    bottom: 189%;
    left: 45%;
}

.message .lit {
    position: relative;
}

.lit {
    position: absolute;
    bottom: 100px;
    right: 415px;
}

.lit .lit-head {
    color: #2c3e50;
}

.small {
    margin-top: -10px;
}

.table {
    position: relative;
    overflow: hidden;
    padding: 15% 0;

}

.table {
    bottom: 90px;
    padding-bottom: 45%;
}

.table-header {
    font-weight: 800;
    color: #2c3e50;
    position: absolute;
    margin-left: 20%;
    top: 120px;
}


.table-header::after {
    content: "";
    width: 70px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    background-image: linear-gradient(to right, #ff6b07, rgb(209, 161, 4), rgb(63, 192, 95));
    align-items: center;
    align-content: center;
    left: 45%;
    right: 0;
    top: 120%;
    display: block;
}

.accord {
    font-size: 23px;
    font-weight: 900;
    margin: 0 100px;
    margin-bottom: 60px;
}




.chart-image {
    position: relative;
}

.chart-image {
    position: absolute;
    top: 300px;
    width: 400px;
    left: 167px;
    background-color: whitesmoke;
}


.flux {
    font-size: 23px;
    font-weight: 900;
    margin-left: 189px;

}

.flux-image {
    position: absolute;
    top: 320px;
    width: 500px;
    right: 50px;
    background: white;
    padding: 5px;
}


.toblocked {
    position: absolute;
    bottom: 0;
    left: 26%;

}


.structure {
    margin-top: 10px;
}

.structure-header {
    position: relative;
    text-align: center;
}

.structure-header::after {
    content: "";
    width: 70px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    background-image: linear-gradient(to right, #ff6b07, rgb(209, 161, 4), rgb(63, 192, 95));
    align-items: center;
    align-content: center;
    left: 48.5%;
    right: 0;
    top: 120%;
    display: inline-block;
}

.structure-header {
    font-weight: 900;
    color: #2c3e50;
}


.structure .structure-image {
    width: 120px;
    box-shadow: 1px 0 33px rgb(201, 197, 184);
    padding: 40px 5px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

.structure img:hover {
    transform: translateY(-3px);
    transition-duration: 0.15s;
}


footer {
    background-color: black;
    padding: 20px 30px;
}

footer li {
    color: white;
    justify-content: space-between;
    display: flex;
    margin: 6px;
    text-align: start;
    font-family: sans-serif;
    margin: 4px 2px;
}

.footer-head,
.sec-head,
.third-head {
    color: white;
    font-size: 14px;
    font-weight: 800;
    margin: 10px 5px;
    margin-bottom: 30px;
    margin-left: 30px;
}


.first-list {
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 400;
}

.copy {
    color: white;
    font-weight: 800;
    font-size: 15px;
}

.line {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: #ffff;
    overflow: hidden;
}


footer hr {
    height: 7px;
    width: 80px;
    background: orangered;
    margin-left: 33px;

}


.footer-image {
    background-color: whitesmoke;
    width: 28%;
    height: 13vh;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
    padding: 13px;
    margin-left: 150px;
    margin-top: 13px;
}

.image-bout {
    font-size: 12px;
    margin-left: 70px;
    margin-bottom: 10px;
}

.uplink {
    margin-left: 58%;
    color: white;
}

.uplink:hover {
    color: #ff6b07;
}

.socials {
    color: #ff6b07;
    font-style: normal;
}


.updatebar {
    background-image: linear-gradient(135deg, #FF8C00 0%, #FF7700 100%);
    padding: 16px;
}

.updatebar-header {
    color: white;
    font-weight: bolder;
    margin-left: 30px;
    margin-top: 9px;
}

.updatebar .updatebar-text {
    position: relative;
    color: white;

}

.updatebar-text {
    position: absolute;
    top: 0;
    bottom: 90px;
    font-family: Poppins, sans-serif;
}


.card-tit {
    font-weight: 800;
    margin-top: 30px;
    color: #2c3e50;
    font-size: 28px;
    position: relative;
    display: inline-block;
}


.card-1 {
    box-shadow: 0 8px 5px 8px rgba(94, 93, 93, 0.1);
    border-top: 3px solid rgba(255, 102, 0, .1);
    border-top-color: #ff6b07;
    border-radius: 10px;
    padding-bottom: 20px;
}

.countrymap {
    overflow: hidden;
}

.card-reg {
    background: #ff6b07;
    color: white;
}

.card-reg-hard {
    margin-left: 12px;
    font-size: 18px;
    margin-top: 7px;
    top: 13px;
}

.countrymap .card-reg-hard {
    position: relative;
}

.countrymap .countrymap-icon {
    position: relative;
}

.countrymap-icon {
    position: absolute;
    top: -16px;
    left: 90%;
}

.unseen {
    background: white;
    font-size: xx-large;
}

.country .country-text .form-select {
    position: relative;
}

.country-text {
    color: rgb(185, 35, 35);
    font-size: 20px;
}


.form-select {
    border: 1px transparent rgb(87, 85, 83);
    border-top: white;
    border-left: white;
    border-right: white;
}

.form-select:focus {
    border-color: #333;
    outline: 2px;
    box-shadow: none;
}

.beu {
    overflow: hidden;
}

.beu .annees-btn {
    position: relative;
}

.annees-btn {
    background-color: #c6183d;
    position: absolute;
    left: 78%;
    border-radius: 10px;
    padding: 8px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin: 5px;
    gap: 8px;
    letter-spacing: 1px;
    box-shadow: 3px 2px 4px rgba(20, 20, 20, 0.5);
    overflow: hidden;
    border-top-color: #c6183d;
    border-left: #c6183d;
}

.annees-btn:hover {
    background: #FF7700;
    transition: all .3s ease-in-out;
    transform: translateY(-2px);
}


.filter-sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 13ppx;
    margin-left: 10px;

    overflow-x: hidden;
}


.custom-fieldset {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0 10px 5px 10px;
    margin: 0;
    position: relative;
}

.custom-fieldset legend {
    float: none;
    width: auto;
    padding: 0 8px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

.form-select-custom {
    width: 100%;

    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 0;
    outline: none;
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23adb5bd' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 12px;
}

.form-select-custom:focus {
    outline: none;
    box-shadow: none;
}


.ok .text-filter {

    position: relative;

}

.text-filter {
    left: 300px;
    top: 70%;

    position: absolute;
}


.text-filter .card {
    padding: 10px;
    margin-top: 30px;
}

.card .cardt {
    position: relative;
}

.cardt {
    color: #555555;
    font-weight: 700;
    position: absolute;
    top: 6px;
}


.do .counters {
    position: relative;
}


.counters li {
    text-decoration: none;
    display: inline-flex;
    justify-items: center;
}

.lis {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    color: #555555;
    justify-content: space-between;
    padding: 0 8px;

}

.acti {
    background-color: #c6183d;
    padding: 0px 6px;
    border-radius: 3px;
    color: white;
    border: 1px solid rgb(87, 85, 83);
}

.whi {
    background-color: rgb(250, 245, 245);
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgb(231, 226, 226);
}

.card-deal{
    padding: 40px;
    box-shadow: 1px 0 4px 0 rgb(167, 159, 159);
    border-radius: 10px;
    padding: 40px;
}

.questHead{
    color: #2c3e50;
    font-weight: 700;
}

.accordion-button{
    padding: 2%;
}

.accordion .accordion-button:hover{
    background: #FF7700;
}

.accordion-button{
    background: whitesmoke;
}
.accordion-button:hover{
    background: rgb(144, 144, 155)
}


.accordion-body1{
    text-align: start;
    width: 52%;
}



