.moving-text {
  white-space: nowrap;
  display: inline-block;
  padding-left: 100%;       
  animation: scroll 60s linear infinite;
}

@keyframes scroll {

  100% {
    transform: translateX(-100%); 
  }
}

.green {
  background: #008c00; /* your green */
  border-top-left-radius: 5px;
  
}

.flag{
    margin-left: 0.5rem;
}

.green .slideinfo{
    font-weight: bold;
    margin-top: 12px;
}


.division img{
    width: 260px;
} 

.com{
        margin-left: -99px;
}

.comm{
    margin-left: 99px;
}

.navbar{
    background: black;
    height: 100px;
}

 .form-control{
    background-color: lch(41.32% 0.84 19.12 / 0.282);    
    border-color: rgb(112, 73, 79);
    border-radius: 10px;
    width: 300px;
    height: 60px;
}

.form-control::placeholder{
    color: rgb(148, 147, 147);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.navbar-nav .nav-link {
    color: white !important ;
}

.navbar-nav .nav-link.active {
    color: #ff6b07 !important;
    font-family: poppins, sans-serif;
}

.navbar-nav .nav-item{
    font-weight: bold;
}

.navbar-nav .nav-item:hover{
    background-color:  lch(72.89% 1.5 19.19 / 0.282) ;
    border-radius: 5px;
}

.info{
    font-family:  poppins, sans-serif;
    box-sizing: border-box;   
    margin-top: 5%; 
}

.info .card{
    box-shadow: 0 8px 5px 8px rgba(94, 93, 93, 0.1);
    border-top: 3px solid rgba(255,102,0,.1);
    border-image: linear-gradient(to right, #ff6b07 , rgb(209, 161, 4), rgb(63, 192, 95)) 1 0 0 0;
    border-radius: 10px;
    padding-bottom: 20px;
    
}

.card-title{
    font-weight: 800;
    margin-top: 30px;
    color: #2c3e50;
    font-size: 28px;
    position: relative;
    display: inline-block;
}

.card-title::after{
    content: "";
    width: 70px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    background-image: linear-gradient(to right, #ff6b07 , rgb(209, 161, 4), rgb(63, 192, 95));
    align-items: center;
    align-content: center;
    left: 50%;
    right: 0;
    top: 120%;
    display: block;
}

.card-subtitle{
    padding: 10px 39px;
    width: 100%;
    line-break: normal;
    color: #555555;
}

.message{
    margin-top: 9%;
    box-sizing: border-box;
    padding: 43px 10%;
    background-image: linear-gradient( to right, rgba( 240, 197, 197, 0.1) , rgba(185, 186, 190, 0.2));
}



.message .card-pres img{
    width: 235px;
    height: 44vh;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    object-fit: cover;
    border: 3px solid black;
    border-color: white;
    box-shadow: 1px 1px 15px  rgb(167, 159, 159);
    cursor: pointer;
}


.card-pres img:hover{
 transform: translateY(-2px);
 transition-duration: 0.05s;
}

.message .btn{
    position: relative;
    background-color: #ff6b07 ;
    color: white;
    padding: 3px 35px;
    text-align: center;
    border-radius: 20px;
   }

.btn{
    left: 15px;
    bottom: 40px;
    font-weight: 700;
    font-size: 15px;
}

.btn:hover{
    background-color: #008c00;
}

.message .info-head{
    position: relative;
    display: flex;
    text-align: start;
}

.info-head{
    position: absolute;
    right: 240px;
    top: 30px;
}

.message .text-header{
    font-weight: 800;
    color: #2c3e50;
    position: relative;
}

.message .text-header::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 72px;
    background-image: linear-gradient(to left, #ff6b07 , rgb(209, 161, 4), rgb(63, 192, 95));
    display: inline-block;
    top: 60px;
    right: 326px;
    border-radius: 5px;
}

.message .card-c{
    background-image: linear-gradient( to right, rgba(255, 208, 216, 0.5) , rgba(255, 208, 216, 0.3));
    position: relative;
    display: flex;
    text-align: start;
    padding: 15px 30px;
    border-left: 4px solid #ff6b07 ;
}

.card-c{
    position: absolute;
    bottom: 189%;
    left: 45%;
}

.message .lit{
    position: relative;    
}

 .lit{
    position: absolute;
    bottom: 100px;
    right: 415px;
}

.lit h6{
    color: #2c3e50;
}


.table{
    position: relative;
    overflow: hidden;
}

.table-header{
    font-weight: 800;
    color: #2c3e50;
    position: absolute;
    left: 390px;
}

.table-header::after{
    content: "";
    width: 70px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    background-image: linear-gradient(to right, #ff6b07 , rgb(209, 161, 4), rgb(63, 192, 95));
    align-items: center;
    align-content: center;
    left: 50%;
    right: 0;
    top: 120%;
    display: block;
}

.accord{
    font-size: 23px;
    font-weight: 900;
}





